[Unit]
Description=WiFighter service

[Service]
ExecStart=/opt/wifighter.py
# "Type=forking" or "Type=oneshot" may also be needed

[Install]
WantedBy=multi-user.target
